    @page
    @model LoginModel
    <div id="logreg-forms">
    <h1 class="h3 mb-3 font-weight-normal text-info" style="text-align:center;">Sign In</h1>
    @if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                    article
                    about setting up this ASP.NET application to support logging in via external services
                </a>.
            </p>
        </div>
    }
    else
    {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        @if(provider.Name.ToLower().Contains("facebook")){
                                  <button type="submit" class="btn btn-blocl facebook-btn form-control" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                  <i class="fab fa-facebook-square"></i>    
                                      @provider.DisplayName</button>
                  
                        }
                        else{
                             <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>

                        }
                    }
                </p>
            </div>
        </form>
    }
    

        <form id="account" method="post">
             @if (Model.ExternalLogins?.Count > 0)
            {
                <p style="text-align:center">OR</p>
            }
            <input asp-for="Input.Email" class="form-control" placeholder="Email..." type="email" />
            <input asp-for="Input.Password" class="form-control" placeholder="Password..." type="password" />
            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i>Log in</button>
            <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-info">Forgot your password ?</a>

            <div asp-validation-summary="All" class="text-danger"></div>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-info text-white">Register as new user</a>

            </form>

    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
