@page
@model RegisterModel
@using RockyProject.Utility

<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-success text-center py-4">  
                         @if (User.IsInRole(RockyProject.WC.AdminRole))
                        {
                            <strong>Register an Admin Account </strong>
                        }
                        else
                        {
                            <strong>Register Normal User</strong>
                        }

                    </h3>
                    <hr/>
                    <div class="py-2">
                        <input asp-for="Input.FullName" placeholder="Name" class="form-control"/>
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                     <div class="py-2">
                        <input asp-for="Input.Email" placeholder="Name" class="form-control"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                        <div class="py-2">
                            <div class="input-group"></div>
                            <div class="input-group-prepend">
                           <span class="input-group-text">+1</span>
                            </div>
                        <input asp-for="Input.PhoneNumber" placeholder="Phone Number" type="text" class="form-control"/>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                     <div class="form-row row py-2">
                         <div class="col-6">
                                <input asp-for="Input.Password" placeholder="Password" type="password"class="form-control" />
                         </div>
                            <div class="col-6">
                                <input asp-for="Input.ConfirmPassword" placeholder="ConfirmPassword" type="ConfirmPassword" class="form-control" />

                            </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                     </div>

                    <div class="py-2">
                        @if (User.IsInRole(RockyProject.WC.AdminRole))
                        {
                            <button type="submit" class="btn btn-warning form-control ">Register Admin User</button>
                        }
                        else
                        {
                                <button type="submit" class="btn btn-primary form-control ">Register</button>
                        }

                    </div>
                    

                    </form>
                     @if (User.IsInRole(RockyProject.WC.AdminRole))
                     {   
                     <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <p>
                            By clicking <em> Register</em> youre agree to our <a href="" target="_blank"> terms of services</a>
                        </p>
                        <hr/>
                        <div class="row">
                            <p>
                             @*   @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }*@
                            @foreach (var provider in Model.ExternalLogins)
                             {
                                    @if(provider.Name.ToLower().Contains("facebook")){
                                              <button type="submit" class="btn btn-blocl facebook-btn form-control" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                              <i class="fab fa-facebook-square"></i>    
                                                  @provider.DisplayName</button>
                  
                                    }
                                    else{
                                         <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>

                                    }
                                }
                            </p>
                        </div>
                    </form>
                    }

                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-4">
            <h2>Create a new account.</h2>
            <hr />
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.FullName" class="form-control"  aria-required="true" />
                <label asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <br />            
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>


            <br />
       </div>

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                }
                else
                {
                       
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
